@import "../../App";

.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  .Register-form {
    padding: 10px;
    background-color: $themecolor;

    h2 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 10px;
    }



    label {
      display: block;
      font-size: 16px;
    }

    input {
      width: 100%;
      margin: 5px 0;
      padding: 5px;
      font-size: 12px;
      border: none;
    }

    button {
      @include button
    }
  }
}